<!DOCTYPE html>
<html>

<head>
    <%- include("../auth/navBar")-%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        function deleteSpeaker(id, speakerObj) {
            $.ajax({
                url: "http://localhost:8088/speaker/delete",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ id }),
                dataType: "json",
                success: function (result) {
                    $(speakerObj).parents("tr").remove();
                },
                error: function (error) {
                    console.log(error + "");
                }
            });
        }
    </script>
</head>

<body style="background-color: rgb(178, 188, 189);">
    <table class="table text-center bg-dark text-light" style="width: 700px; margin-left: 320px; margin-top: 50px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <%speakers.forEach(s=>{%>
            <tr>
                <td><%=s._id %></td>
                <td><%=s.userName %></td>
                <td><%=s.age %></td>
                <td><a href="/speaker/edit/<%=s._id %>" class="btn btn-success"> Edit </button></td>
                <td><a href="#" class="btn btn-danger" onclick="deleteSpeaker('<%=s._id%>',this)"> Delete </button>
                </td>
            </tr>
            <%})%>
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</body>

</html>